.table-new-contact {
    width: 2000px;
}
::placeholder {
    text-transform: uppercase;
    text-align: center;
}
input .input-state {
    text-transform: uppercase;
}
td .input-full_name, .input-address {
    text-transform: capitalize;
}
td .input-email {
    text-transform: lowercase;
}

/* .app {
    border-radius: 50px;
}
.contact {
    border-left: 100px;
    width: 500px;;

}
input {
    border-radius: .5em;
}

@media only screen and (min-width: 800px){
    h1 {
        font-family: Arial;
        font-size: 30px;
        word-spacing: 30px;
        color: gray;
        text-shadow: 2px 2px #f2a340;
        margin-left: 30px;
    
    }
}

.table {
    width: 600px;
    text-align: center;
    background-color: yellow;
    border-bottom-color: red;
    border-spacing: 10px;

}

.th {
    font-family: Arial;
    font-size: 15px;
    width: 150px;

}
.td {
    font-family: Arial;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: gray;
    border: 1px dotted;
    border-color: darkred;
    width: 166px;
    background-color: white;
    
} */