
::placeholder {
    text-transform: uppercase;
    text-align: center;
}
.cap, .cap-new-name{
    text-transform: capitalize;
}

.lowercase{
    text-transform: lowercase;
}
.uppercase{
    text-transform: uppercase;
}
.fullName-container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.flexbox-firstName, .flexbox-lastName{
    display: flex ;
    flex-grow: 1;
    
}

.email-phone-container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.flexbox-email{
    display: flex ;
    flex-grow: 1;
}
.flexbox-number{
    display: flex ;
    flex-grow: 1;
}
.address-container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flexbox-address1, .flexbox-address2 {
    display: flex ;
    flex-grow: 1;
}
.flexbox-street {
    flex-grow: 1;
}
.flexbox-city {
    flex-grow: 3;
}
.flexbox-state {
    flex-grow: 1;
}
.flexbox-zip {
    flex-grow: 2;
}
.dob-gender-country-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.flexbox-bod {
    display: flex;
    flex-grow: 1;
}
.flexbox-dd{
    flex-grow: 1;
}
.flexbox-mm{
    flex-grow: 1;
}
.flexbox-yy {
    flex-grow: 2;
}
.flexbox-gender-country{
    display: flex;
    flex-grow: 1;
}
.flexbox-gender, .flexbox-country{
    flex-grow: 1;
}
.table th, .table td{
    padding: 0.3rem 0.35rem !important;
    vertical-align: middle !important;;
    
}
select {
    border: solid 0.5px  rgba(118, 118, 118, 0.3);
    border-radius: 0.2rem;
    opacity: 0.7;
    
}
.fieldId-new-cl{
    width: 72px;
}
.button-add{
    width: 154px;
}


/* .app {
    border-radius: 50px;
}
.contact {
    border-left: 100px;
    width: 500px;;

}
input {
    border-radius: .5em;
}

@media only screen and (min-width: 800px){
    h1 {
        font-family: Arial;
        font-size: 30px;
        word-spacing: 30px;
        color: gray;
        text-shadow: 2px 2px #f2a340;
        margin-left: 30px;
    
    }
}

.table {
    width: 600px;
    text-align: center;
    background-color: yellow;
    border-bottom-color: red;
    border-spacing: 10px;

}

.th {
    font-family: Arial;
    font-size: 15px;
    width: 150px;

}
.td {
    font-family: Arial;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: gray;
    border: 1px dotted;
    border-color: darkred;
    width: 166px;
    background-color: white;
    
} */