::placeholder{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.fullName-container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flexbox-firstName, .flexbox-lastName{
    display: flex ;
    flex-grow: 1;
}

.email-phone-container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flexbox-email{
    display: flex ;
    flex-grow: 1;
}
.flexbox-number{
    display: flex ;
    flex-grow: 1;
}
.address-container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flexbox-address1, .flexbox-address2 {
    display: flex ;
    flex-grow: 1;
}
.flexbox-street {
    flex-grow: 1;
}
.flexbox-city {
    flex-grow: 3;
}
.flexbox-state {
    flex-grow: 1;
}
.flexbox-zip {
    flex-grow: 2;
}
.dob-gender-country-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.flexbox-bod {
    display: flex;
    flex-grow: 1;
}
.flexbox-dd{
    flex-grow: 1;
}
.flexbox-mm{
    flex-grow: 1;
}
.flexbox-yy {
    flex-grow: 2;
}
.flexbox-gender-country{
    display: flex;
    flex-grow: 1;
}
.flexbox-gender, .flexbox-country{
    flex-grow: 1;
}
.table th, .table td{
    padding: 0.3rem 0.35rem !important;
    vertical-align: middle !important;;
    /* s */
}

tr .idList {
    width: 40px;   
}
/* tr .addressList {
    width: 300px;
} */
/* input .idList {
    background-color: brown;
}

td .idList {
    width: 50px;
}
td .numberList {
    width: 150px;
}

td .addressList {
    width: 245px;
} */

/* @media only screen and (max-width: 780px), (orientation: portrait)
{
    body {
        background-color: rgb(153, 245, 245);
    }
    h1 {
        font-size: 10px;
        text-align: left;
        display: none; 
        padding: 0; 
    }

}
@media only screen and (max-width: 470px){
    .img {
        width: 100%;
        margin: 0;
    }
}
input {
    border: hidden;
}

.app {
    border-radius: 50px;
}
.contact {
    border-left: 100px;
    width: 500px;;

}
@media only screen and (min-width: 800px){
    h1 {
        font-family: Arial;
        font-size: 30px;
        word-spacing: 30px;
        color: gray;
        text-shadow: 2px 2px #f2a340;
        margin-left: 30px;
    
    }
}

.table {
    width: 800px;
    text-align: center;
    background-color: yellow;
    border-bottom-color: red;
    border-spacing: 10px;
} 
 
.th {
    font-family: Arial;
    font-size: 15px;
    width: 150px;
    
}

td {
    font-family: Arial;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: gray;
    border: 1px dotted;
    border-color: darkred;
    width: 166px;
    background-color: white;
    border-radius: .5em;
    text-align: center;
}

.button {
    font-family: Arial;
    color: "#FFFA9F8";
    width:60px;
    border-radius: .5em;
    background-color: white;
    border: 0.1px solid  grey;
}
.button:hover {
    background-color: yellow;
    cursor: pointer;
}
input {
    display: inline-block;
    text-align: center;
} */
