::placeholder{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
td  input .address{
    text-transform: capitalize;
}
td .full_name, address {
    text-transform: capitalize;
}
td .email {
    text-transform: lowercase;
}
/* .fullNameList, .emailList, .numberList, .addressList{ */
tr .idList {
    background-color: blueviolet;
    width: 50px;
    padding: 0px;
}
tr .fullNameList{
    background-color: burlywood;
    padding: 0px;
}
tr .emailList{
    background-color: olive;
    padding: 0px;
}
tr .numberList {
    background-color: orange
}
tr .addressList {
    background-color: peachpuff;
}
tr .addressList {
    width: 300px;
}
/* input .idList {
    background-color: brown;
}

td .idList {
    width: 50px;
}
td .numberList {
    width: 150px;
}

td .addressList {
    width: 245px;
} */

/* @media only screen and (max-width: 780px), (orientation: portrait)
{
    body {
        background-color: rgb(153, 245, 245);
    }
    h1 {
        font-size: 10px;
        text-align: left;
        display: none; 
        padding: 0; 
    }

}
@media only screen and (max-width: 470px){
    .img {
        width: 100%;
        margin: 0;
    }
}
input {
    border: hidden;
}

.app {
    border-radius: 50px;
}
.contact {
    border-left: 100px;
    width: 500px;;

}
@media only screen and (min-width: 800px){
    h1 {
        font-family: Arial;
        font-size: 30px;
        word-spacing: 30px;
        color: gray;
        text-shadow: 2px 2px #f2a340;
        margin-left: 30px;
    
    }
}

.table {
    width: 800px;
    text-align: center;
    background-color: yellow;
    border-bottom-color: red;
    border-spacing: 10px;
} 
 
.th {
    font-family: Arial;
    font-size: 15px;
    width: 150px;
    
}

td {
    font-family: Arial;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    color: gray;
    border: 1px dotted;
    border-color: darkred;
    width: 166px;
    background-color: white;
    border-radius: .5em;
    text-align: center;
}

.button {
    font-family: Arial;
    color: "#FFFA9F8";
    width:60px;
    border-radius: .5em;
    background-color: white;
    border: 0.1px solid  grey;
}
.button:hover {
    background-color: yellow;
    cursor: pointer;
}
input {
    display: inline-block;
    text-align: center;
} */
