/* .App {
    color: black;
    width: 800;
}
#id {
    width: 50px;
}
th {
    width: 200px;
} */

.readOnly {
    background-color: #FBF9F9;
}
/* .table-contacts{
    width: 2000px !important;
} */


.fieldId {
    width: 50px;
}
.fieldFullName, .fieldEmail {
    width: 200px;
}
.fieldEmail {
    width: 245px;
}
.fieldPhoneNumber {
    width: 150px;
}
