.App {
    overflow-x: auto;
}


.readOnly {
    background-color: #FBF9F9;
}
.table-contacts{
    width: 100%;
}


.fieldId {
    width: 50px;
}
input {
    border: solid 0.5px  rgba(118, 118, 118, 0.3);
    border-radius: 0.2rem;
    opacity: 0.7;
    
}

thead th {
    border: white solid 1px;
    padding: 6px 2px;
    vertical-align: middle;
}

